loader.preload = "file:../../src/libsysdb.so"
libos.entrypoint = "file:$(ENTRYPOINT)"
loader.env.LD_LIBRARY_PATH = "/lib:$(ARCH_LIBDIR):/usr/$(ARCH_LIBDIR)"
loader.insecure__use_cmdline_argv = 1

fs.mount.graphene_lib.type = "chroot"
fs.mount.graphene_lib.path = "/lib"
fs.mount.graphene_lib.uri = "file:../../../../Runtime"

fs.mount.host_lib.type = "chroot"
fs.mount.host_lib.path = "$(ARCH_LIBDIR)"
fs.mount.host_lib.uri = "file:$(ARCH_LIBDIR)"

fs.mount.host_usr_lib.type = "chroot"
fs.mount.host_usr_lib.path = "/usr/$(ARCH_LIBDIR)"
fs.mount.host_usr_lib.uri = "file:/usr/$(ARCH_LIBDIR)"

fs.mount.bin.type = "chroot"
fs.mount.bin.path = "/bin"
fs.mount.bin.uri = "file:/bin"

fs.mount.output.type = "chroot"
fs.mount.output.path = "/mounted"
fs.mount.output.uri = "file:tmp"

sgx.trusted_files.entrypoint = "file:$(ENTRYPOINT)"

sgx.trusted_files.runtime = "file:../../../../Runtime/"
sgx.trusted_files.libgcc_s = "file:$(ARCH_LIBDIR)/libgcc_s.so.1"

sgx.allowed_files.tmp_dir = "file:tmp/"

sgx.protected_files_key = "ffeeddccbbaa99887766554433221100"
sgx.protected_files.input = "file:tmp/pf_input"
sgx.protected_files.output = "file:tmp/pf_output"

sgx.nonpie_binary = 1
