[submodule "Pal/src/host/Linux-SGX/sgx-driver"]
	path = Pal/src/host/Linux-SGX/sgx-driver
	url = https://github.com/oscarlab/graphene-sgx-driver.git
[submodule "LibOS/shim/test/apps"]
	path = LibOS/shim/test/apps
	url = https://github.com/oscarlab/graphene-tests.git
