/Runtime/
*~
\#*#
*.backup
*.orig
*.sw*
/Jenkinsfiles/Jenkinsfile-*
/Jenkinsfiles/JenkinsfileSGX-*

.lib
*.i
*.s
*.e

# object file/libraries
*.a
*.o
*.so

# python
*.pyc

# sgx
*.manifest
*.manifest.sgx
*.sig
*.token
*.cached

# gnu global
GPATH
GTAGS
GSYMS
GRTAGS

# tags/etags
tags
TAGS

# cscope
cscope.*
ncscope.*
