/crt1.o
/crti.o
/crtn.o
/ld-linux-x86-64.so.2
/libc.so
/libc.so.6
/libdl.so.2
/liblibos.so.1
/libm.so.6
/libnss_dns.so.2
/libpal-Linux-SGX.so
/libpal-Linux.so
/libpthread.so.0
/libresolv.so.2
/librt.so.1
/libsysdb.a
/libsysdb.so
/libsysdb_debug.so
/libthread_db.so.1
/libutil.so.1
/pal-Linux
/pal-Linux-SGX
/pal_gdb-Linux-SGX
