/*.tmp
/*.xml
/*.manifest

/manifest
/pal_loader

/.cache
/..Bootstrap
/AtomicMath
/AvxDisable
/Bootstrap
/Bootstrap2
/Bootstrap3
/Bootstrap7
/Directory
/Event
/Exception
/Exit
/File
/Hex
/Memory
/Misc
/Pipe
/Preload1.so
/Preload2.so
/Process
/Process2
/Process3
/Semaphore
/SendHandle
/Socket
/Symbols
/Thread
/Thread2
/nonelf_binary
/normalize_path
