/*.tmp
/*.xml
/*.manifest

!Bootstrap3.manifest
!Bootstrap6.manifest
!Bootstrap7.manifest
!File.manifest
!Process3.manifest
!Thread2.manifest
!Thread2_exitless.manifest

/pal_loader

/.cache
/..Bootstrap
/AttestationReport
/avl_tree_test
/Bootstrap
/Bootstrap3
/Bootstrap6
/Bootstrap7
/Directory
/Event
/Exception
/Exception2
/Exit
/File
/File2
/HelloWorld
/Hex
/Memory
/Misc
/Pie
/Pipe
/Preload1.so
/Preload2.so
/Process
/Process3
/Process4
/Segment
/Select
/SendHandle
/Socket
/Symbols
/Tcp
/Thread
/Thread2
/Thread2_exitless
/Udp
/normalize_path

/test_file_0
/test_file_1
/test_file_2
