# the executable to run
loader.exec = file:Bootstrap

# debug type: inline|none
loader.debug_type = none

sgx.ra_client_spid = $(RA_CLIENT_SPID)
sgx.ra_client_cert = $(RA_CLIENT_CERT)
sgx.ra_client_pkey = $(RA_CLIENT_PKEY)
sgx.ra_client_linkable = $(RA_CLIENT_LINKABLE)
