pal.entrypoint = "file:$(ENTRYPOINT)"
loader.debug_type = "inline"
loader.insecure__use_cmdline_argv = 1

fs.mount.root.uri = "file:"
sgx.trusted_files.entrypoint = "file:$(ENTRYPOINT)"

sgx.allowed_files.to_send_tmp = "file:to_send.tmp" # for SendHandle test
