loader.preload = file:/graphene/Runtime/libsysdb.so

# Get path of binary
loader.exec = file:BINARY_PATH
loader.execname = ${binary}
loader.env.LD_LIBRARY_PATH = /graphene/Runtime:LIBRARY_PATHS
loader.env.PATH = /usr/local/bin:/usr/bin:/bin
loader.debug_type = ${debug_output}

fs.root.type = chroot
fs.root.path = /
fs.root.uri = file:/

fs.start_dir = ${working_dir}

# All trusted files and the user defined manifest specifications should be after this line
