#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:/bin/bash
loader.execname = /bin/bash
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.env.PATH = /bin:/usr/bin
loader.env.USERNAME = root
loader.env.HOME = /
loader.debug_type = none

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /lib
fs.mount.lib1.uri = file:$(LIBCDIR)

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.bin.type = chroot
fs.mount.bin.path = /bin
fs.mount.bin.uri = file:/bin

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

sys.brk.size = 256K

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0
sgx.trusted_files.libnss1 = file:$(LIBCDIR)/libnss_dns.so.2
sgx.trusted_files.libnss2 = file:/lib/x86_64-linux-gnu/libnss_compat.so.2
sgx.trusted_files.libnss3 = file:/lib/x86_64-linux-gnu/libnss_files.so.2
sgx.trusted_files.libtinfo = file:/lib/x86_64-linux-gnu/libtinfo.so.5
sgx.trusted_files.ls = file:/bin/ls
sgx.trusted_files.cp = file:/bin/cp
sgx.trusted_files.rm = file:/bin/rm
sgx.trusted_files.date = file:/bin/date
sgx.trusted_files.cat = file:/bin/cat

sgx.trusted_children.ls = file:ls.sig
sgx.trusted_children.cp = file:cp.sig
sgx.trusted_children.rm = file:rm.sig
sgx.trusted_children.cat = file:cat.sig
sgx.trusted_children.date = file:date.sig

sgx.allowed_files.test1 = file:bash_test.sh
sgx.allowed_files.test2 = file:OUTPUT
sgx.allowed_files.test3 = file:somefile
sgx.allowed_files.testdir = file:testdir
