loader.preload = file:$(SHIMPATH)
loader.exec = file:/bin/cat
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu
loader.debug_type = none

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

# sgx-related
sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6

sgx.allowed_files.test3 = file:somefile
sgx.allowed_files.testdir = file:testdir
