#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:build/sbin/lighttpd
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu:/lighttpd
loader.debug_type = none

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

fs.mount.lib64.type = chroot
fs.mount.lib64.path = /lib/x86_64-linux-gnu
fs.mount.lib64.uri = file:/lib/x86_64-linux-gnu


fs.mount.build.type = chroot
fs.mount.build.path = /lighttpd
fs.mount.build.uri = file:build/lib

fs.mount.html.type = chroot
fs.mount.html.path = $(PWD)/html
fs.mount.html.uri = file:html

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:/tmp

# allow to bind on port for listening
net.allow_bind.1 = $(HOST):$(PORT)

sys.stack.size = 256K
sys.brk.size = 4M
glibc.heap_size = 16M

sgx.thread_num = 28

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0
sgx.trusted_files.libssl = file:/lib/x86_64-linux-gnu/libssl.so.1.0.0
sgx.trusted_files.libcrypto = file:/lib/x86_64-linux-gnu/libcrypto.so.1.0.0

sgx.trusted_files.lib1 = file:build/lib/mod_indexfile.so
sgx.trusted_files.lib2 = file:build/lib/mod_dirlisting.so
sgx.trusted_files.lib3 = file:build/lib/mod_staticfile.so

sgx.trusted_files.conf1 = file:lighttpd.conf
sgx.trusted_files.conf2 = file:lighttpd-generic.conf
sgx.trusted_files.conf3 = file:lighttpd-server.conf
sgx.trusted_files.conf4 = file:lighttpd-multithreaded.conf
sgx.trusted_files.conf5 = file:lighttpd-ssl.conf

sgx.trusted_files.server_key = file:server.pem
sgx.trusted_files.server_dh_key = file:dhparam.pem

sgx.allowed_files.html = file:html
