/*.manifest

/manifest
/pal_loader

/Cpuid
/Event
/Exception
/Failure
/File
/Fork
/HandleSend
/HelloWorld
/Memory
/Pie
/Pipe
/Process
/Segment
/Select
/Server
/Sleep
/Tcp
/Thread
/Udp
/Wait
/Yield

/test_file_0
/test_file_1
/test_file_2
