/*.manifest

/manifest
/pal_loader

/Cpuid
/Event2
/Exception2
/Failure
/File2
/Fork
/HandleSend
/HelloWorld
/Memory2
/Pie
/Pipe2
/Process4
/Segment
/Select
/Server
/Sleep
/Tcp
/Thread3
/Udp
/Wait
/Yield

/test_file_0
/test_file_1
/test_file_2

/pal-test.xml