# the executable to run
# loader.exec = file:./HelloWorld

# debug type: inline|file|none
# loader.debug_type = inline
# loader.debug_file = <URI>

# allow to bind on port 8000
net.allow_bind.1 = 127.0.0.1:8000
# allow to connect to port 8000
net.allow_peer.1 = 127.0.0.1:8000

# allow files are newly created
sgx.allow_file_creation = 1
