loader.preload = "file:$(SHIMPATH)"
loader.env.LD_LIBRARY_PATH = "/lib:$(ARCH_LIBDIR):/usr/lib:/usr/lib64"
loader.env.PATH = "/bin:/usr/bin:."
loader.env.LD_PRELOAD = "$(COREUTILS_LIBDIR)/libstdbuf.so"
loader.env._STDBUF_O = "L"
loader.debug_type = "none"
loader.insecure__use_cmdline_argv = 1

fs.mount.shm.type = "chroot"
fs.mount.shm.path = "/dev/shm"
fs.mount.shm.uri = "file:/tmp"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:$(LIBCDIR)"

fs.mount.lib64.type = "chroot"
fs.mount.lib64.path = "$(ARCH_LIBDIR)"
fs.mount.lib64.uri = "file:$(ARCH_LIBDIR)"

fs.mount.usr.type = "chroot"
fs.mount.usr.path = "/usr"
fs.mount.usr.uri = "file:/usr"

fs.mount.tmp.type = "chroot"
fs.mount.tmp.path = "/tmp"
fs.mount.tmp.uri = "file:/tmp"

# The line below may be causing problems on SGX, see
# https://github.com/oscarlab/graphene/issues/1408.
sys.brk.max_size = "32M"
sys.stack.size = "4M"

sgx.trusted_files.ld = "file:$(LIBCDIR)/ld-linux-x86-64.so.2"
sgx.trusted_files.libc = "file:$(LIBCDIR)/libc.so.6"
sgx.trusted_files.libdl = "file:$(LIBCDIR)/libdl.so.2"
sgx.trusted_files.libm = "file:$(LIBCDIR)/libm.so.6"
sgx.trusted_files.libpthread = "file:$(LIBCDIR)/libpthread.so.0"
sgx.trusted_files.librt = "file:$(LIBCDIR)/librt.so.1"
sgx.trusted_files.libstdbuf = "file:/usr/$(ARCH_LIBDIR)/coreutils/libstdbuf.so"

sgx.allowed_files.tmp = "file:/tmp"
