#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:obj/bin/httpd
loader.execname = httpd
loader.env.LD_LIBRARY_PATH = $(PWD)/obj/modules:/lib:/lib/x86_64-linux-gnu:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.debug_type = none

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /lib
fs.mount.lib1.uri = file:$(LIBCDIR)

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

fs.mount.cwd.type = chroot
fs.mount.cwd.path = $(PWD)
fs.mount.cwd.uri = file:

# allow to bind on port for listening
net.allow_bind.1 = $(HOST):$(PORT)

sgx.search_trusted_libs = file:$(LIBCDIR),file:obj/lib,file:/lib/x86_64-linux-gnu

sgx.trusted_libs.nss1 = file:/lib/x86_64-linux-gnu/libnss_compat.so.2
sgx.trusted_libs.nss2 = file:/lib/x86_64-linux-gnu/libnss_files.so.2
sgx.trusted_libs.nss3 = file:/lib/x86_64-linux-gnu/libnss_nis.so.2

sgx.trusted_libs.mod01 = file:obj/modules/mod_authn_file.so
sgx.trusted_libs.mod02 = file:obj/modules/mod_authn_core.so
sgx.trusted_libs.mod03 = file:obj/modules/mod_authz_host.so
sgx.trusted_libs.mod04 = file:obj/modules/mod_authz_groupfile.so
sgx.trusted_libs.mod05 = file:obj/modules/mod_authz_user.so
sgx.trusted_libs.mod06 = file:obj/modules/mod_authz_core.so
sgx.trusted_libs.mod07 = file:obj/modules/mod_access_compat.so
sgx.trusted_libs.mod08 = file:obj/modules/mod_auth_basic.so
sgx.trusted_libs.mod09 = file:obj/modules/mod_reqtimeout.so
sgx.trusted_libs.mod10 = file:obj/modules/mod_filter.so
sgx.trusted_libs.mod11 = file:obj/modules/mod_mime.so
sgx.trusted_libs.mod12 = file:obj/modules/mod_log_config.so
sgx.trusted_libs.mod13 = file:obj/modules/mod_env.so
sgx.trusted_libs.mod14 = file:obj/modules/mod_headers.so
sgx.trusted_libs.mod15 = file:obj/modules/mod_setenvif.so
sgx.trusted_libs.mod16 = file:obj/modules/mod_version.so
sgx.trusted_libs.mod17 = file:obj/modules/mod_unixd.so
sgx.trusted_libs.mod18 = file:obj/modules/mod_status.so
sgx.trusted_libs.mod19 = file:obj/modules/mod_autoindex.so
sgx.trusted_libs.mod20 = file:obj/modules/mod_dir.so
sgx.trusted_libs.mod21 = file:obj/modules/mod_alias.so

sgx.allowed_files.conf = file:obj/conf
sgx.allowed_files.htdocs = file:obj/htdocs
sgx.allowed_files.logs = file:obj/logs
