/*.tar.gz
/OUTPUT
/.common_libs_copied
/.dcap_libs_copied
/.epid_libs_copied
/.mbedtls_built
/.mbedtls_configured
/.mbedtls_downloaded
/.mbedtls_libs_copied
/files/input.txt
/mbedtls
/pf_crypt
/secret_prov_client
/secret_prov_min_client
/secret_prov_pf_client
/secret_prov_server_dcap
/secret_prov_server_epid
