/*.manifest
/*.xml

/manifest
/pal_loader

/.cache
/abort
/abort_multithread
/bootstrap
/bootstrap-c++
/bootstrap_pie
/bootstrap_static
/cpuid
/epoll_wait_timeout
/eventfd
/exec
/exec_invalid_args
/exec_same
/exec_victim
/exit
/exit_group
/fdleak
/file_check_policy
/file_size
/fopen_cornercases
/fork_and_exec
/fstat_cwd
/futex
/futex-timeout
/futex_bitset
/futex_requeue
/futex_timeout
/futex_wake_op
/getcwd
/getdents
/getsockopt
/host_root_fs
/init_fail
/large-mmap
/large_dir_read
/mmap-file
/mprotect_file_fork
/multi_pthread
/openmp
/poll
/poll_many_types
/ppoll
/proc
/proc-path
/proc_cpuinfo
/pselect
/readdir
/sched
/select
/shared_object
/sigaltstack
/sigprocmask
/spinlock
/stat_invalid_args
/str_close_leak
/syscall
/testfile
/tmp
/tcp_ipv6_v6only
/tcp_msg_peek
/udp
/unix
/vfork_and_exec
