/*.manifest
/*.xml

!argv_from_file.manifest
!debug_log_file.manifest
!debug_log_inline.manifest
!env_from_file.manifest
!env_from_host.manifest
!file_check_policy_allow_all_but_log.manifest
!file_check_policy_strict.manifest
!host_root_fs.manifest
!init_fail.manifest
!init_fail2.manifest
!large_mmap.manifest

/pal_loader

/.cache
/abort
/abort_multithread
/argv_from_file
/argv_test_input
/attestation
/bootstrap
/bootstrap_cpp
/bootstrap_pie
/bootstrap_static
/cpuid
/debug
/debug_log_file
/debug_log_inline
/debug_regs-x86_64
/dev
/device
/env_from_file
/env_from_host
/epoll_wait_timeout
/eventfd
/exec
/exec_fork
/exec_invalid_args
/exec_same
/exec_victim
/exit
/exit_group
/fdleak
/file_check_policy
/file_check_policy_allow_all_but_log
/file_check_policy_strict
/file_size
/fopen_cornercases
/fork_and_exec
/fp_multithread
/fstat_cwd
/futex
/futex_bitset
/futex_requeue
/futex_timeout
/futex_wake_op
/getcwd
/getdents
/getsockname
/getsockopt
/groups
/helloworld
/host_root_fs
/init_fail
/init_fail2
/large_dir_read
/large_mmap
/madvise
/mkfifo
/mmap_file
/mprotect_file_fork
/mprotect_prot_growsdown
/multi_pthread
/multi_pthread_exitless
/openmp
/pipe
/pipe_nonblocking
/pipe_ocloexec
/poll
/poll_closed_fd
/poll_many_types
/ppoll
/proc_common
/proc_cpuinfo
/proc_path
/pselect
/pthread_set_get_affinity
/rdtsc
/readdir
/sched
/sched_set_get_affinity
/select
/shared_object
/sigaction_per_process
/sigaltstack
/sighandler_divbyzero
/sighandler_reset
/sighandler_sigpipe
/signal_multithread
/sigprocmask_pending
/spinlock
/stat_invalid_args
/str_close_leak
/syscall
/sysfs_common
/tcp_ipv6_v6only
/tcp_msg_peek
/testfile
/tmp
/udp
/unix
/vfork_and_exec
