/*.manifest
/*.xml

/nonexisting_testfile
/testfile
/trusted_testfile

/.cache
/abort
/abort_multithread
/argv_from_file
/argv_test_input
/attestation
/bootstrap
/bootstrap_cpp
/bootstrap_pie
/bootstrap_static
/cpuid
/debug
/debug_log_file
/debug_log_inline
/debug_regs-x86_64
/devfs
/device_passthrough
/double_fork
/env_from_file
/env_from_host
/epoll_epollet
/epoll_wait_timeout
/eventfd
/exec
/exec_fork
/exec_invalid_args
/exec_same
/exec_victim
/exit
/exit_group
/fcntl_lock
/fdleak
/file_check_policy
/file_check_policy_allow_all_but_log
/file_check_policy_strict
/file_size
/fopen_cornercases
/fork_and_exec
/fp_multithread
/fstat_cwd
/futex
/futex_bitset
/futex_requeue
/futex_timeout
/futex_wake_op
/getcwd
/getdents
/getdents_lseek
/getsockname
/getsockopt
/gettimeofday
/groups
/helloworld
/host_root_fs
/init_fail
/init_fail2
/kill_all
/large_dir_read
/large_file
/large_mmap
/madvise
/mkfifo
/mmap_file
/mprotect_file_fork
/mprotect_prot_growsdown
/multi_pthread
/multi_pthread_exitless
/openmp
/pf_rename
/pipe
/pipe_nonblocking
/pipe_ocloexec
/poll
/poll_closed_fd
/poll_many_types
/ppoll
/proc_common
/proc_cpuinfo
/proc_path
/pselect
/pthread_set_get_affinity
/rdtsc
/readdir
/rename
/run_test
/sched
/sched_set_get_affinity
/select
/shared_object
/sigaction_per_process
/sigaltstack
/sighandler_divbyzero
/sighandler_reset
/sighandler_sigpipe
/signal_multithread
/sigprocmask_pending
/spinlock
/stat_invalid_args
/syscall
/syscall_restart
/sysfs_common
/tcp_ipv6_v6only
/tcp_msg_peek
/udp
/unix
/vfork_and_exec

/pftmp
/tmp
