loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "file:attestation"
loader.argv0_override = "attestation"

loader.env.LD_LIBRARY_PATH = "/lib"
loader.insecure__use_cmdline_argv = 1

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

fs.mount.bin.type = "chroot"
fs.mount.bin.path = "/bin"
fs.mount.bin.uri = "file:/bin"

# sgx-related
sgx.trusted_files.runtime = "file:{{ graphene.runtimedir() }}/"
sgx.trusted_files.attestation = "file:attestation"

sgx.nonpie_binary = 1

sgx.remote_attestation = 1
sgx.ra_client_spid = "{{ ra_client_spid }}"
sgx.ra_client_linkable = {{ ra_client_linkable }}
