loader.argv0_override = "bootstrap"

loader.preload = "file:../../src/libsysdb.so"
loader.env.LD_LIBRARY_PATH = "/lib"
loader.debug_type = "none"
loader.insecure__use_host_env = 1

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:../../../../Runtime"

sgx.trusted_files.ld = "file:../../../../Runtime/ld-linux-x86-64.so.2"
sgx.trusted_files.libc = "file:../../../../Runtime/libc.so.6"

sgx.static_address = 1
