loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "bootstrap"
loader.argv0_override = "bootstrap"
loader.env.LD_LIBRARY_PATH = "/lib"
loader.env_src_file = "file:env_test_input"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

sgx.nonpie_binary = true

# this tests the old syntax for allowed_files (TOML table)
sgx.allowed_files.env = "file:env_test_input"

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:bootstrap",
]
