loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "{{ env.PWD }}/host_root_fs"
loader.argv0_override = "host_root_fs"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.root.type = "chroot"
fs.root.path = "/"
fs.root.uri = "file:/"

fs.mount.graphene_lib.type = "chroot"
fs.mount.graphene_lib.path = "/lib"
fs.mount.graphene_lib.uri = "file:{{ graphene.runtimedir() }}"

sgx.nonpie_binary = true

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:{{ env.PWD }}/host_root_fs",
]
