loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "init_fail"
loader.argv0_override = "init_fail"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

# purposefully force mount failure to cause early shim abort
fs.mount.test.type = "chroot"
fs.mount.test.path = "/test"
fs.mount.test.uri = "file:I_DONT_EXIST"

sgx.nonpie_binary = true

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:init_fail",
]
