loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "init_fail"
loader.argv0_override = "init_fail"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

sgx.nonpie_binary = true

# this is an impossible combination of options, LibOS must fail very early in init process
sgx.enclave_size = "256M"
sys.brk.max_size = "512M"

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:init_fail",
]
