loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "large_mmap"
loader.argv0_override = "large_mmap"

loader.env.LD_LIBRARY_PATH = "/lib"

# application allocates 2GB and 4GB memory regions which may occasionally fail
# in an SGX enclave restricted to 8GB of virtual space if ASLR is enabled
loader.insecure__disable_aslr = true

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

sgx.enclave_size = "8G"
sgx.nonpie_binary = true

sgx.allowed_files = [
  "file:testfile",
]

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:large_mmap",
]
