loader.preload = "file:{{ graphene.libos }}"
libos.entrypoint = "file:{{ entrypoint }}"
loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/{{ arch_libdir }}"
loader.insecure__use_cmdline_argv = 1

# for eventfd test
sys.insecure__allow_eventfd = 1

fs.mount.graphene_lib.type = "chroot"
fs.mount.graphene_lib.path = "/lib"
fs.mount.graphene_lib.uri = "file:{{ graphene.runtimedir() }}"

fs.mount.host_lib.type = "chroot"
fs.mount.host_lib.path = "{{ arch_libdir }}"
fs.mount.host_lib.uri = "file:{{ arch_libdir }}"

fs.mount.host_usr_lib.type = "chroot"
fs.mount.host_usr_lib.path = "/usr/{{ arch_libdir }}"
fs.mount.host_usr_lib.uri = "file:/usr/{{ arch_libdir }}"

fs.mount.bin.type = "chroot"
fs.mount.bin.path = "/bin"
fs.mount.bin.uri = "file:/bin"

fs.mount.devkmsg.type = "chroot"
fs.mount.devkmsg.path = "/dev/kmsg"
fs.mount.devkmsg.uri = "dev:/dev/kmsg"

sgx.trusted_files.runtime = "file:{{ graphene.runtimedir() }}/"
sgx.trusted_files.libgcc_s = "file:{{ arch_libdir }}/libgcc_s.so.1"
sgx.trusted_files.libstdcxx = "file:/usr{{ arch_libdir }}/libstdc++.so.6"

sgx.trusted_files.entrypoint = "file:{{ entrypoint }}"
sgx.trusted_files.exec_victim = "file:exec_victim"

sgx.allowed_files.tmp_dir = "file:tmp/"
sgx.allowed_files.root = "file:root" # for getdents test
sgx.allowed_files.testfile = "file:testfile" # for mmap_file test

sgx.thread_num = 16

sgx.nonpie_binary = 1

# for protected_file test
sgx.protected_files.pf1 = "file:protected_file_1.dat"
sgx.protected_files_key = "ffeeddccbbaa99887766554433221100"
