loader.preload = "file:{{ graphene.libos }}"
loader.env.LD_LIBRARY_PATH = "/lib"
loader.argv0_override = "multi_pthread"
libos.entrypoint = "multi_pthread"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

# app runs with 4 parallel threads + Graphene has couple internal threads
sgx.thread_num = 8

sgx.nonpie_binary = true
sgx.enable_stats = true

sgx.trusted_files = [
  "file:{{ graphene.runtimedir() }}/",
  "file:multi_pthread",
]
