loader.preload = "file:../../src/libsysdb.so"
libos.entrypoint = "file:openmp"
loader.argv0_override = "openmp"

loader.env.LD_LIBRARY_PATH = "/lib:/usrlib"

# the below manifest option is added only for testing, it has no significance for OpenMP
libos.check_invalid_pointers = 0

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:../../../../Runtime"

fs.mount.bin.type = "chroot"
fs.mount.bin.path = "/bin"
fs.mount.bin.uri = "file:/bin"

fs.mount.usrlib.type = "chroot"
fs.mount.usrlib.path = "/usrlib"
fs.mount.usrlib.uri = "file:/usr/$(ARCH_LIBDIR)"

sgx.thread_num = 32

sgx.trusted_files.ld = "file:../../../../Runtime/ld-linux-x86-64.so.2"
sgx.trusted_files.libc = "file:../../../../Runtime/libc.so.6"
sgx.trusted_files.libpthread = "file:../../../../Runtime/libpthread.so.0"
sgx.trusted_files.libdl = "file:../../../../Runtime/libdl.so.2"
sgx.trusted_files.openmp = "file:openmp"

sgx.trusted_files.libgomp_native = "file:/usr$(ARCH_LIBDIR)/libgomp.so.1"

# Graphene optionally provides patched OpenMP runtime library that runs faster
# inside SGX enclaves (execute `make -C LibOS gcc` to generate it). Uncomment
# the line below to use the patched library. This library will replace the
# native one because Graphene's Runtime path has priority in LD_LIBRARY_PATH.

#sgx.trusted_files.libgomp_graphene = "file:../../../../Runtime/libgomp.so.1"

sgx.nonpie_binary = 1
