loader.preload = file:../../src/libsysdb.so
loader.env.LD_LIBRARY_PATH = /lib:/usrlib
loader.debug_type = none
loader.syscall_symbol = syscalldb

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:../../../../Runtime

fs.mount.bin.type = chroot
fs.mount.bin.path = /bin
fs.mount.bin.uri = file:/bin

fs.mount.usrlib.type = chroot
fs.mount.usrlib.path = /usrlib
fs.mount.usrlib.uri = file:/usr/lib/x86_64-linux-gnu

sgx.thread_num = 32

sgx.trusted_files.ld = file:../../../../Runtime/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:../../../../Runtime/libc.so.6
sgx.trusted_files.libpthread = file:../../../../Runtime/libpthread.so.0
sgx.trusted_files.libdl = file:../../../../Runtime/libdl.so.2
sgx.trusted_files.libgomp = file:/usr/lib/x86_64-linux-gnu/libgomp.so.1
