#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:$(PYTHONDIR)bin/python
loader.execname = python
loader.env.LD_LIBRARY_PATH = $(PYTHONDIR)lib:/graphene:/host:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.env.PATH = $(PYTHONDIR)/bin:/usr/bin:/bin
loader.env.USERNAME =
loader.env.HOME =
loader.env.PWD =
loader.env.PYTHONPATH = $(PYTHONDIR)bin/python
loader.env.PYTHONHOME = $(PYTHONDIR)
loader.debug_type = none

fs.mount.root.type = chroot
fs.mount.root.uri = file:

fs.mount.other.python.type = chroot
fs.mount.other.python.path = $(PYTHONDIR)
fs.mount.other.python.uri = file:$(PYTHONDIR)

fs.mount.other.lib1.type = chroot
fs.mount.other.lib1.path = /graphene
fs.mount.other.lib1.uri = file:$(GLIBCDIR)

fs.mount.other.lib2.type = chroot
fs.mount.other.lib2.path = /host
fs.mount.other.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.other.bin.type = chroot
fs.mount.other.bin.path = /bin
fs.mount.other.bin.uri = file:/bin

fs.mount.other.usr.type = chroot
fs.mount.other.usr.path = /usr
fs.mount.other.usr.uri = file:/usr

sys.stack.size = 256K
sys.brk.size = 4M
glibc.heap_size = 16M
