#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:build/sbin/nginx
loader.execname = nginx
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.debug_type = none

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /lib
fs.mount.lib1.uri = file:$(LIBCDIR)

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

fs.mount.cwd.type = chroot
fs.mount.cwd.path = $(PWD)
fs.mount.cwd.uri = file:

fs.mount.etc.type = chroot
fs.mount.etc.path = /etc
fs.mount.etc.uri = file:etc

# allow to bind on port for listening
net.allow_bind.1 = $(HOST):$(PORT)

sgx.enclave_size = 512M

sgx.search_trusted_libs.libc = file:$(LIBCDIR)
sgx.trusted_files.conf = file:http.t
sgx.trusted_files.nss1 = file:/lib/x86_64-linux-gnu/libnss_compat.so.2
sgx.trusted_files.nss2 = file:/lib/x86_64-linux-gnu/libnss_nis.so.2

sgx.allowed_files.etc = file:etc
sgx.allowed_files.log = file:build/logs
