#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:/usr/bin/gcc
loader.execname = /usr/bin/gcc
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.env.PATH = /bin:/usr/bin
loader.debug_type = $(DEBUGTYPE)

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /lib
fs.mount.lib1.uri = file:$(LIBCDIR)

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:/tmp

sgx.enclave_size = 1G

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0

sgx.trusted_files.cc1 = file:$(GCCDIR)/cc1
sgx.trusted_files.collect2 = file:$(GCCDIR)/collect2
sgx.trusted_files.as = file:/usr/bin/as

sgx.allowed_files.tmp = file:/tmp
sgx.allowed_files.test_files = file:test_files

sgx.trusted_children.cc1 = file:cc1.sig
sgx.trusted_children.collect2 = file:collect2.sig
sgx.trusted_children.as = file:as.sig
