DISKS=""; export DISKS
DISK_DESC=""; export DISK_DESC
OUTPUT=/dev/tty; export OUTPUT
ENOUGH=5000; export ENOUGH
FASTMEM="NO"; export FASTMEM
FILE=/var/tmp/XXX; export FILE
FSDIR=/var/tmp; export FSDIR
INFO=INFO.kermit.cs.unc.edu; export INFO
LOOP_O=0.00000013; export LOOP_O
MAIL=no; export MAIL
MB=512; export MB
MHZ=""; export MHZ
MOTHERBOARD=""; export MOTHERBOARD
NETWORKS=""; export NETWORKS
OS="linux"; export OS
PROCESSORS=""; export PROCESSORS
REMOTE=""; export REMOTE
SLOWFS="NO"; export SLOWFS
TIMING_O=0; export TIMING_O
RSH=rsh; export RSH
RCP=rcp; export RCP
VERSION=2.5; export VERSION
