loader.preload = file:$(SHIMPATH)
loader.exec = file:hello
loader.env.LD_LIBRARY_PATH = /lib:/lib64
loader.debug_type = none

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:

sys.brk.size = 32M
sys.stack.size = 4M

sgx.search_trusted_libs = file:$(LIBCDIR)
