loader.preload = file:$(SHIMPATH)
loader.env.LD_LIBRARY_PATH = /lib:/lib64
loader.debug_type = none

fs.mount.tmp1.type = chroot
fs.mount.tmp1.path = /tmp
fs.mount.tmp1.uri = file:/tmp

fs.mount.tmp2.type = chroot
fs.mount.tmp2.path = /var/tmp
fs.mount.tmp2.uri = file:/var/tmp

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

fs.mount.bin.type = chroot
fs.mount.bin.path = /bin/sh
fs.mount.bin.uri = file:/bin/sh

fs.mount.inc.type = chroot
fs.mount.inc.path = /usr/include/x86_64-linux-gnu/sys/types.h
fs.mount.inc.uri = file:/usr/include/x86_64-linux-gnu/sys/types.h

net.allow_bind.1 = 0.0.0.0:31233-31237
net.allow_bind.2 = 0.0.0.0:34297-34298
net.allow_peer.1 = 127.0.0.1:0-65535

glibc.heap_size = 16M
sys.brk.size = 32M
sys.stack.size = 4M

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0
sgx.trusted_files.sh = file:/bin/sh

sgx.allowed_files.tmp1 = file:/tmp
sgx.allowed_files.tmp2 = file:/var/tmp
sgx.allowed_files.inc = file:/usr/include/x86_64-linux-gnu/sys/types.h

sgx.trusted_children.hello = file:hello.sig
sgx.trusted_children.sh = file:sh.sig
