loader.preload = file:$(SHIMPATH)
loader.exec = file:/bin/sh
loader.env.LD_LIBRARY_PATH = /lib:/lib64
loader.debug_type = none

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:/tmp

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

glibc.heap_size = 16M
sys.brk.size = 32M
sys.stack.size = 4M

sgx.enclave_size = 512M

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0

sgx.trusted_files.hello = file:/tmp/hello

sgx.trusted_children.hello = file:hello.sig
