loader.preload = file:$(SHIMPATH)
loader.exec = file:/bin/sh
loader.env.LD_LIBRARY_PATH = /lib:/lib64
loader.debug_type = none

fs.mount.tmp1.type = chroot
fs.mount.tmp1.path = /tmp
fs.mount.tmp1.uri = file:/tmp

fs.mount.tmp2.type = chroot
fs.mount.tmp2.path = /var/tmp
fs.mount.tmp2.uri = file:/var/tmp

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib
fs.mount.lib.uri = file:$(LIBCDIR)

sgx.enclave_size = 128M
sys.brk.size = 32M
sys.stack.size = 4M

sgx.search_trusted_libs.libc = file:$(LIBCDIR)

sgx.trusted_files.hello = file:hello

sgx.trusted_children.hello = file:hello.sig
