#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:/usr/bin/Rscript
loader.execname = /usr/bin/Rscript
loader.env.LD_LIBRARY_PATH = /lib:/lib/x86_64-linux-gnu:/usr/lib:/usr/lib/x86_64-linux-gnu
loader.env.PATH = /usr/lib/R/bin:/usr/bin:/bin
loader.env.USERNAME =
loader.env.HOME =
loader.env.PWD =
loader.env.R_ARCH =
loader.env.R_HOME = /usr/lib/R
loader.env.R_SHARE_DIR = /usr/share/R/share
loader.env.R_INCLUDE_DIR = /usr/share/R/include
loader.env.R_DOC_DIR = /usr/share/R/doc
loader.debug_type = none

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /lib
fs.mount.lib1.uri = file:$(LIBCDIR)

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.usr.type = chroot
fs.mount.usr.path = /usr
fs.mount.usr.uri = file:/usr

fs.mount.bin.type = chroot
fs.mount.bin.path = /bin
fs.mount.bin.uri = file:/bin

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:/tmp

sys.stack.size = 256K
sys.brk.size = 4M
glibc.heap_size = 16M

sgx.search_trusted_libs = file:$(LIBCDIR)

sgx.trusted_files.r = file:/usr/lib/R/bin/exec/R

sgx.allowed_files.r = file:/usr/lib/R
sgx.allowed_files.scripts = file:scripts
